@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
* {
  font-weight: 400;
}

.inner {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

h1 {
  color: white;
  cursor: pointer;
}
h1 svg path {
  fill: white;
}

.menu_top {
  text-decoration: none;
  font-size: 20px;
  font-family: "Marcellus", serif;
  width: 45%;
  display: flex;
  align-items: center;
}
.menu_top .menu {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.menu_top a {
  padding: 15px;
}
.menu_top a:link {
  color: white;
}
.menu_top a:visited {
  color: white;
}
.menu_top a:active {
  color: white;
}
.menu_top a:hover {
  color: white;
}
.menu_top li {
  display: inline-block;
}
.menu_top .menu-trigger {
  position: relative;
  width: 30px;
  height: 15px;
  margin-right: 70px;
  margin-bottom: 50px;
}
.menu_top .menu-trigger i {
  color: white;
}
.menu_top nav {
  position: relative;
  height: 100%;
}
.menu_top nav button {
  width: 26px;
  height: 25px;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu_top nav button:hover > span:nth-child(1) {
  top: 30%;
  transform: rotate(45deg);
}
.menu_top nav button:hover > span:nth-child(2) {
  top: 30%;
  transform: rotateX(100%);
  opacity: 0;
}
.menu_top nav button:hover > span:nth-child(3) {
  top: 30%;
  transform: rotate(-45deg);
}
.menu_top nav button span {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 2px solid #fff;
  transition: 0.3s;
}
.menu_top nav button span:nth-child(1) {
  top: 0;
}
.menu_top nav button span:nth-child(2) {
  top: 30%;
}
.menu_top nav button span:nth-child(3) {
  top: 60%;
}

.visual {
  background-image: url(../img/main/top_banner.jpg);
  width: 100%;
  height: 850px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_center {
  text-align: center;
}
.banner_center div {
  font-family: "Marcellus", serif;
  font-size: 70px;
  color: white;
  margin-bottom: 20px;
}
.banner_center p {
  color: white;
  margin-bottom: 30px;
}
.banner_center button {
  font-family: "Marcellus", serif;
  font-size: 20px;
  color: white;
  background: transparent;
  text-decoration: underline;
}
.banner_center button a:link {
  color: white;
}
.banner_center button a:visited {
  color: white;
}
.banner_center button a:active {
  color: white;
}
.banner_center button a:hover {
  color: white;
}

.product {
  padding-top: 180px;
  padding-bottom: 200px;
}
.product li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 170px;
}
.product li > div {
  padding-left: 160px;
}
.product li img {
  width: 70%;
  height: auto;
}
.product li:nth-child(n) {
  padding: 0 100px;
}
.product li:nth-child(2n) {
  flex-direction: row-reverse;
  height: 700px;
  padding-left: 130px;
  padding-bottom: 200px;
  background: url(../img/main/prd_bg.png) left bottom no-repeat;
}
.product li:nth-child(2n) > div {
  padding-left: 0;
  padding-right: 100px;
}
.product li .mask {
  width: 48%;
  height: auto;
}
.product li .cream {
  width: 60%;
  height: auto;
}
.product li .star {
  width: 48%;
  height: auto;
}
.product .text-box h5 {
  font-size: 15px;
  color: #999;
  margin-bottom: 20px;
}
.product .text-box h2 {
  font-size: 60px;
  font-family: "Marcellus", serif;
}
.product .text-box h3 {
  font-size: 28px;
  padding-top: 20px;
}
.product .text-box p {
  margin-top: 50px;
  margin-bottom: 40px;
}
.product .text-box button {
  background: transparent;
  font-size: 20px;
  font-family: "Marcellus", serif;
  text-decoration: underline;
}
.product .text-box button a:link {
  color: black;
}
.product .text-box button a:visited {
  color: black;
}
.product .text-box button a:active {
  color: black;
}
.product .text-box button a:hover {
  color: black;
}

.story {
  width: 100%;
  height: 730px;
  padding: 192px 0;
  display: flex;
  align-items: center;
  text-align: center;
  background: url(../img/main/about_bg.jpg) center center no-repeat;
  background-size: cover;
}
.story div img {
  width: 40%;
}
.story div img:nth-of-type(1) {
  margin-right: 20px;
}
.story .text-box {
  margin: 0 auto;
}
.story .text-box h5 {
  font-family: "Marcellus", serif;
}
.story .text-box h2 {
  font-size: 60px;
  font-family: "Marcellus", serif;
}
.story button {
  background: transparent;
  font-family: "Marcellus", serif;
  font-size: 20px;
  text-decoration: underline;
}
.story button a:link {
  color: black;
}
.story button a:visited {
  color: black;
}
.story button a:active {
  color: black;
}
.story button a:hover {
  color: black;
}

.tech {
  width: 93%;
  margin: 0 auto;
  padding: 180px 0;
}
.tech .text-box {
  margin-bottom: 90px;
}
.tech .text-box h2 {
  font-family: "Marcellus", serif;
  font-size: 60px;
  margin-bottom: 25px;
}
.tech .text-box p {
  font-size: 16px;
  line-height: 26px;
}

.one-two-three {
  width: 100%;
  height: 540px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.one-two-three > li {
  position: relative;
  filter: grayscale(90%);
  transition: 0.5s;
  border-radius: 0px;
  overflow: hidden;
}
.one-two-three > li:hover {
  filter: grayscale(0%);
  border-radius: 30px;
}
.one-two-three > li img {
  width: 100%;
  height: 100%;
}
.one-two-three > li h4,
.one-two-three > li p {
  position: absolute;
}
.one-two-three > li h4 {
  font-family: "Marcellus", serif;
  font-size: 42px;
  top: 20px;
  left: 20px;
}
.one-two-three > li p {
  bottom: 20px;
  left: 20px;
  width: 60%;
}

.main-footer {
  font-family: "Marcellus", serif;
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin: 0 auto;
}
.main-footer .f-logo {
  margin-left: 40px;
}
.main-footer .f-logo p {
  font-size: 12px;
  color: #bababa;
}
.main-footer .f-manu {
  display: flex;
  padding: 0 20px;
  gap: 20px;
  font-size: 13px;
}
.main-footer .f-manu a:link {
  color: black;
}
.main-footer .f-manu a:visited {
  color: black;
}
.main-footer .f-manu a:active {
  color: black;
}
.main-footer .f-manu a:hover {
  color: black;
}
.main-footer ul:nth-child(2) {
  width: 30%;
}
.main-footer ul > li:nth-child(1) {
  margin-bottom: 15px;
}/*# sourceMappingURL=main.css.map */